<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "Data driven">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
        <listener class-name="com.aibar.listeners.CustomListeners"/>
    </listeners>
    <test name = "Simple Test">
        <classes>
            <class name = "com.aibar.testcases.SimpleTest"/>
        </classes>
    </test>


</suite>